@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Varela+Round&display=swap');

.background {
    
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #1B1B1BE6;
}

.cardmodal {
    display: flex;
    justify-content: center;
    width: 900px;
    padding: 30px;
    background: #FFFFFF;

    border-radius: 50px;
    border: 5px solid pink;

    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.cardmodal:hover {
    cursor: initial;
}

.cardinfo {
    width: 300px;
    margin: 0 auto;
}

.cardtype {
    display: grid;
    grid-template-columns: 180px 60px 100px;
}

.cardtype img{
    height: 40px;
}

.cardparameter {
    justify-content: space-evenly;
    
}

.parameter {
    text-align: right;
}

.cardimg {
    border: 5px solid pink;
}

.cardparameter {
    display: flex;
}

.cardparameter p {
    font-size: 12px;
    margin: 20px 0;
}

.cardparameter .min {
    width: 60px;
}

.cardparameter .max {
    width: 60px;
}

.cardparameter .trained {
    width: 60px;
}