.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    width: 1100px;
    height: 100%;
    margin: auto auto;
    background-color: ghostwhite;
  
    border-width: 5px;
    border-color: pink;
    border-radius: 10px;
    padding: 10px;
}

.Rarity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.Band {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.Type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.Member {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}